<html>
    <head>
        <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='projectresources'}" data-sly-unwrap/>
    </head>
    <body>
        <div ng-app="MarsApp">
            <div ng-controller="MarsController as mars">
                {{mars.title}}

                {{mars.clients}}
            </div>
        </div>
    </body>
</html>